@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
@import 'tailwindcss';
@theme {
  --breakpoint-xs: 27rem; /* 432px */
}

body {
  font-family: 'Assistant', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}
